<footer>
    <section class="logo-section">
        <img src="/images/logo.svg" alt="logo">
    </section>
    <section class="social-media-section"> 
        <a href="http://facebook.com"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href="http://twitter.com"><i class="fa-brands fa-twitter fa-xl"></i></a>
        <a href="http://instagram.com"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <a href="https://github.com/Rock-Dragons" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
    </section>
        <p>COPYRIGHT © 2023 Dragons Rock</p>
</footer>