<nav>
    <a href="https://github.com/Rock-Dragons" target="_blank">
        <label class="logo section-header">DragonsRock</label>
    </a>
    <ul id='navbar-container' >
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
        <li><a id="navbar-home" href="index.html">Home</a></li>
        <li><a id="navbar-news"  href="news.html">News</a></li>
        <li><a id="navbar-species"  href="species.html">Species diversity</a></li>
        <li><a id="navbar-genetic"  href="genetic.html">Genetic diversity</a></li>
        <li><a id="navbar-ecosystem"  href="ecosystem.html">Ecosystem diversity</a></li>
        <li><a id="navbar-store"  href="store.html">Store</a></li>
        <li><a id="navbar-login" href="login.html">LogIn</a></li>
    </ul>
    <label id="icon">
        <i class="fas fa-bars"></i>
    </label>
</nav>
