<nav>
    
    <a href="https://github.com/Rock-Dragons" target="_blank">
        <label class="logo section-header">DragonsRock</label>
    </a>

    <ul id='navbar-container' >
        <li><a id="navbar-home" class="navbar-element" href="index.html">Home</a></li>
        <li><a id="navbar-news" class="navbar-element" href="news.html">News</a></li>
        <li><a id="navbar-species" class="navbar-element" href="species.html">Species diversity</a></li>
        <li><a id="navbar-genetic" class="navbar-element" href="genetic.html">Genetic diversity</a></li>
        <li><a id="navbar-ecosystem" class="navbar-element" href="ecosystem.html">Ecosystem diversity</a></li>
        <li><a id="navbar-store" class="navbar-element" href="store.html">Store</a></li>
        <li><a id="navbar-login" class="navbar-element" href="login.html">LogIn</a></li>
    </ul>
    <label id="icon">
        <i class="fas fa-bars"></i>
    </label>
</nav>